* {
    margin: auto;
}

.app {
    background-color: burlywood;
    display:contents;
    width: 100%;
}

.app_header {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: whitesmoke;
    padding: 5px;
    border-bottom: 1px solid silver;
    text-align: center;
    
}

.body{
    display: flex;
    padding-top: 10px;
    border-radius: 5px;
    justify-content: center;
    padding-bottom:25px;
}

.form {
    padding: 20px;
    border-radius: 3px;
    border: black;
    background-color: ghostwhite;
    justify-content: center;
    box-shadow: 5px 10px gainsboro;
}

.wrapper {
    display: block;
    text-align: justify;
}

.textField {
    padding: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: 5px ghostwhite;
    outline: none;
    width: 100%;
    
}

.placeholder {
    position: absolute;
    left: 25px;
    top: 30px;
    padding: 0 6px;
    background-color: transparent;
    transform-origin: top left;
    transition: all 120ms ease-in;
}




.textField:focus + .placeholder,
.textField:not(:placeholder-shown) + .placeholder
{
    top: -5px;
    transform: scale(0.8);
    font-weight: bold;
}
.radio{
    padding: 5px;
}

